:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0000ff;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    overflow-x:hidden;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-image: url("../recursos/fondo_Sisviansa.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  nav {
    display: flex;
    width: 100%;
    height: 58px;
    justify-content: space-between;
    padding: 0 -100px;
    margin-top: auto;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: papayawhip;
    position: fixed;
    top:0;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 227px;
    height: 151px;
    margin-right: 0;
    opacity: 0.7;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 64px;
    width: 202px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
  }
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  .logo2 {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
  }
  .title {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form div {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  .input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
  }
  .input-name,
  .input-email,
  .input-password {
    margin-bottom: 22px;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .login-button {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .form-login {
    width: 400px;
    background:#24303c;
    padding: 30px;
    margin: auto;
    margin-top: 180px;
    border-radius: 90px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #52670b;/*#000;*/
  }
  
  .form-login h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
  }
  
  .form-login a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-login .botons {
    width: 30%;
    background: #1facc5;
    border: none;
    border-radius: 500px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  footer {
    overflow: auto;
    background-color: var(--black);
    margin-top: 100px;
    margin-bottom: 0;
    bottom: 0;
    width: 100vw;
    height: 98.5px;
    color: gray;
    text-align: center;
    opacity: 0.5;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    h2{
      margin-top: 100px;
    }
    fieldset {
      width: 300px;
    }
    form{
     width: 170px;
    }
    .input{
      position: center;
    }
    .form-login{
      width: 55vw;
      height: 35vh;
      margin: auto;
      margin-top: 190px;
      border-radius: 60%;
  }
  .navbar-right ul {
    height: 68px;
    width: 33px;
  }
}