:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0000ff;
  --bordo: rgb(136, 30, 12);
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin-top: 80px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;

  background-image: url('../recursos/fondo_Sisviansa.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; /*para que el fondo me quede fijo ;)*/
}
nav {
  display: flex;
  width: 100vw;
  height: 58px;
  justify-content: space-between;
  padding: 0 -100px;
  margin-top: auto;
  border-bottom: 1px solid var(--very-light-pink);
  background-color: papayawhip;
  position: fixed;
  top: 0;
  z-index: 5;
}
.menu {
  display: none;
}
.logo {
  width: 227px;
  height: 151px;
  margin-right: 0;
  opacity: 0.7;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  /*height: 64px;
    width: 600px;*/
}

.navbar-left {
  display: flex;
  height: 64px;
  width: 202px;
}

.navbar-right {
  display: flex;
  height: 64px;
  width: 46vw;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 100%;
  display: grid;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo2 {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}

.primary-button,
.secondary-button {
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
}
.primary-button {
  background-color: var(--hospital-green);
}
.secondary-button {
  background-color: var(--blue);
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-login p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-login a {
  color: white;
  text-decoration: none;
}

.form-login a:hover {
  color: white;
  text-decoration: underline;
}

.form-login .botons {
  width: 30%;
  background: #1facc5;
  border: none;
  border-radius: 500px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
fieldset {
  border: 3px solid var(--bordo);
  border-radius: 50px 20px;
  margin: auto;
  /*margin-left: 150px;*/
  width: 390px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
fieldset:hover {
  background-color: papayawhip;
}

legend {
  font-family: Georgia, Helvetica, serif;
  font-weight: bold;
  color: var(--bordo);
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.login {
  width: 100%;
  display: grid;
  place-items: center;
}
.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  margin-top: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form div {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  margin-bottom: 10px;
  background-color: var(--text-input-field);
  border-color: #acd9b2;
  border-radius: 10px;
  height: 100px;
  font-size: var(--md);
  padding: 6px;
}
.img {
  width: 10vw;
  height: 10vh;
  margin-top: 9px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--bordo);
  border-radius: 4px;
}

.img-carrito {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--bordo);
  border-radius: 4px;
}

h2 {
  color: var(--bordo);
  font-style: oblique;
  text-decoration-line: underline;
}
.botons {
  width: 20wh;
  height: 5vh;
  background-color: var(--hospital-green);
  border-radius: 8px;
  opacity: 0.6;
}
.botons:hover {
  background-color: var(--bordo);
  transform: rotate(360deg);
  color: var(--white);
}
.control {
  border-color: var(--hospital-green);
  border-radius: 5px;
}
.agregar {
  display: inline;
}
.colum {
  width: 15vw;
  height: 100%;
  margin-top: -40px;
  padding: 0;
  float: left;
  background-color: var(--hospital-green);
  /*border: 2px solid #74bb7e;*/
}
h1 {
  margin-top: 125px;
  font-family: fantasy;
  color: var(--bordo);
  opacity: 0.7;
}

/* VENTANA MODAL */
.btn-abrir {
  background: papayawhip;
  color: #fff;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.pop-up {
  width: 800px;
  height: 600px;
  background: rgba(48, 48, 48, 0.5);
  position: fixed;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /*overflow: hidden;*/
  z-index: 5;
}

.pop-up-wrap {
  display: flex;
  align-items: center;
  width: 700vw;
  max-width: 500px;
  transform: scale(0.6);
  opacity: 0;
  transition: 0.3s ease all;
}

.pop-up-title {
  flex-basis: 0;
  flex-grow: 1.5;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../recursos/dieta/menu1/garbanzos-con-tomatitos-y-atun.jpg');
  background-size: 165%;
  background-position: center;
  background-repeat: no-repeat;
}

.pop-up-title::after {
  content: '';
  position: absolute;
  background: rgba(172, 217, 178, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pop-up-title::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.pedido::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.pop-up-title h2,
.pop-up-title p {
  z-index: 10;
  color: #fff;
}

.pop-up-title h2 {
  font-family: 'Chiller';
  font-size: 80px;
}

.pop-up-title p {
  font-size: 20px;
  font-weight: 300;
}

.pedido {
  background: #fff;
  flex-basis: 0;
  flex-grow: 2;
  height: 605px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
}

.sub-content {
  justify-content: center;
  width: 550px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.sub-content h2 {
  font-weight: 500;
  font-size: 40px;
  color: #1f4068;
  margin-bottom: 15px;
}

.sub-content p {
  font-weight: 500;
  color: #1bc59b;
  margin-bottom: 30px;
}

.precio_total {
  margin-left: -32px;
  width: 25vw;
  padding: 15px;
  border: none;
  background: #ccc;
  margin-bottom: 15px;
}

.pagar {
  margin-left: -21px;
  width: 25vw;
  padding: 15px;
  border: none;
  color: #1f4068; /*no funciona*/
  background: var(--hospital-green);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.25s ease background-color;
}

.pagar:hover {
  background: #1bc59b;
}

.line {
  width: 100%;
  height: 20px;
  background: #1f4068;
}

#close {
  position: absolute;
  top: -12px;
  right: 7px;
  font-size: 25px;
  color: #1bc59b;
  cursor: pointer;
}

.pop-up.show {
  visibility: visible;
}

.pop-up-wrap.show {
  transform: scale(1);
  opacity: 1;
}

/*pedidos_dentro_del_carrito*/
.cantidad {
  border: none;
}

.box {
  overflow-y: auto;
  border-color: var(--hospital-green);
  border-radius: 10px;
}

.carrito {
  width: 400px;

  margin-left: 80px;
  margin-bottom: 10px;
  flex: 1; /*ocupa todo el espacio disponible horizontalmente*/
  display: flex; /* Los elementos dentro de la lista se alinearán horizontalmente */
  /*margin: 10px 0; /* Agrega un margen entre las listas */
  align-items: center;
  padding: 10px;
  border-color: var(--hospital-green);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.input-cant {
  width: 30px;
  height: 26px;
  border: 1px solid rgba(10, 1, 1, 0.267);
  border-radius: 2px;
  background-color: var(--text-input-field);
}
.menos {
  border: none;
  border-radius: 7px 0 0 7px;
  color: var(--blue);
  background-color: var(--hospital-green);
}
.mas {
  border: none;
  border-radius: 0 7px 7px 0;
  color: var(--blue);
  background-color: var(--hospital-green);
  margin-right: 10px;
}
.precio {
  margin-left: 60px; /* Ajusta el valor del margen según tus preferencias */
  width: 50px;
  border-color: var(--hospital-green);
}

.eliminar {
  margin-left: 70px;
  color: red;
  cursor: pointer;
  border-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.eliminar:hover {
  text-decoration: underline;
}

/*selector_de_inicio*/
.us {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--hospital-green);
  -webkit-text-stroke: 1px var(--white);
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para el fondo oscuro que cubre la página cuando se muestra el modal */
.selec_inicio {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

/* Estilo para el contenedor del modal */
.selector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.8s;
  z-index: 2;
}

/* Estilo para el botón "Cliente" dentro del modal */
.transp {
  background: transparent;
  width: 100%;
  height: 45px;
  margin: 5px;
  border-radius: 55px;
  background: rgba(255, 255, 255, 0.137);
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.transp:hover {
  box-shadow: 0px 0px 8px #ffffffa4;
}

footer {
  background-color: var(--black);
  margin-bottom: 0;
  bottom: 0;
  width: 100vw;
  height: 100px;
  color: gray;
  text-align: center;
  opacity: 0.5;
}

@media only screen and (max-width: 980px) {
  .pop-up-title {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .sub-content h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  h2 {
    margin-top: 100px;
  }
  fieldset {
    width: 300px;
  }
  form {
    width: 170px;
  }
  .input {
    position: center;
  }
}

.grid-contenedor {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .grid-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}
#ver-mas {
  margin-bottom: 20px;
}
